body{
    margin: 0%;
}

#main{
    height: 400px;
    width: 300px;
    position: absolute;
    border: 2px solid black;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -200px;
    border-radius: 8px;
    background-color: rgb(235, 210, 178,0.5);
}

#display{
    height: 13%;
    width: 85%;
    margin: 6% 6%;
    text-align: end;
    font-size: 25px;
    background-color: white;
    outline: none;
    color: black;
}

#div-2{
    height: 290px;
    width: 260px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 2px;
}

input{
    height: 50px;
    width: 50px;
    display: grid;
    margin: auto;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(130, 255, 5,0.5);
}

#clear{
    width: 244px;
    grid-column: 1/5;
    background-color: rgba(247, 3, 3, 0.8);
    border: 2px solid black;
}